In [23]:
#--------------Data Science By Jawan Pakistan---------#
print("Welcome to Data Science !");

Welcome to Data Science !

In [24]:
#Exercise01
# here \n denoted newline and \t is tab sequence can be equal to 4 or 8 spaces
print("Twinkle, twinkle, little star, \n\tHow I wonder what you are!")
print("\t\tUp above the world so high, \n\t\tLike a diamond in the sky.")
print("Twinkle, twinkle, little star, \n\tHow I wonder what you are!")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are!

In [2]:
#EXERCISE 02 
#BY_IMPORTING platform module
import platform
print(platform.python_version())

3.7.10

In [4]:
#by system module 
import sys
print("Python version")
print (sys.version)

Python version
3.7.10 (default, Feb 26 2021, 13:13:20) [MSC v.1916 32 bit (Intel)]

In [6]:

#EXERCISE 03 
from datetime import datetime
now = datetime.now()
print("Current Date and Time :", now)

Current Date and Time : 2021-12-30 11:38:32.390541

In [1]:
#EXERCISE 04 
from math import pi
radius= float(input ("Input the radius of the circle : "))
Area=pi * radius**2
print ("The area of the circle with radius " + str(radius) + " is: " + str(Area))

Input the radius of the circle : 2.3
The area of the circle with radius 2.3 is: 16.619025137490002

In [2]:
#EXERCISE 05 
firstname = input("Input your First Name : ")
lastname = input("Input your Last Name : ")
print ("Hello  " + lastname + " " + firstname)

Input your First Name : Saiqa
Input your Last Name : Channa
Hello  Channa Saiqa

In [6]:
#EXERCISE 06 
number1=int(input("Enter Number1:"))
number2=int(input("Enter Number2:"))
result=number1+number2
print("Addition of  "+str(number1)+" and "+str(number2)+" = "+ str(result ))

Enter Number1:2
Enter Number2:3
Addition of  2 and 3 = 5