In [23]:
#--------------Data Science By Jawan Pakistan---------#
print("Welcome to Data Science !");

Welcome to Data Science !

In [24]:
#Exercise01
# here \n denoted newline and \t is tab sequence can be equal to 4 or 8 spaces
print("Twinkle, twinkle, little star, \n\tHow I wonder what you are!")
print("\t\tUp above the world so high, \n\t\tLike a diamond in the sky.")
print("Twinkle, twinkle, little star, \n\tHow I wonder what you are!")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are!